body{
  text-align: center;
  background-color: black;
}

#header{
  font-family: Verdana;
  font-weight:normal;
  font-size: 50px;
  color: white;
}

.download{
  color: aquamarine;
  font-size: 16px;
  text-underline-position: auto;
}

h2{
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
}

#picture p{
  font-family: verdana;
  font-size: 21px;
  color: gray;
}

#copyright{
  text-align: right;
  color: gray;
}
